@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome Home";
}

<h2>Welcome Home page</h2>
<p>@ViewData["data1"]
</p>
<p>Hello World</p>
